.bodyElement {

}

.fancy-header {
    font-family: 'Glegoo', serif;
    font-size: 5em;
}

.line {
    border-width: thick;
    border-color: black;
}

.roast1 {
    font-family: 'Literata', serif;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2000px;
}

.lead {
    font-family: 'Literata', serif;
}

.nav-item {
    font-family: 'Homemade Apple', cursive;
    font-size: large;
}

.nav-link:focus, .nav-link:hover {
    color: #AB6832;
}

.nav-link {
    color: #5D4035;
}
