body {
    margin: 1em;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0;
    padding-left: 0;
}
.navbar-brand {
    font-family: 'Rubik Dirt', cursive;
    color: firebrick;
    font-size: 2em;
}
a:hover {
    color: black;
}
.nav-item {
    font-family: 'Staatliches', cursive;
}
.nav-link {
    color: black;
}
.nav-link:hover {
    color: darkgrey;
}
button.btn.btn-outline-dark {
    font-family: 'Staatliches', cursive;
}
.fa-solid {
    color: firebrick;
    padding: 0 1em;
}
.fa-solid:hover {
    color: black;
}
.navbar-signup {
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    color: black;
}
.navbar-signup:hover {
    color: darkgrey;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    display: flex;
    justify-content: center;
    align-items: center;
}
span.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
a.nav-link.active {
    width: 100px;
}
.form-control {
    width: 50%;
}
.me-2 {
    margin-left: .5em;
}
h2 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 4rem;
    background-color: white;
    opacity: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header {
    width: 100%;
    height: 100%;
}
.jumbotron.jumbotron-fluid {
    background-image: url("../Images/pizza.png");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
}
h3 {
    font-family: 'Rubik Dirt', cursive;
    color: firebrick;
    margin-top: 1em;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: firebrick;
}
h5 {
    font-family: 'Rubik Dirt', cursive;
    color: black;
}
.list-group1 {
    font-family: 'Staatliches', cursive;
    color: dimgrey;
    font-size: larger;
}
.list-title-item {
    font-size: x-large;
    color: firebrick;
    list-style-type: none;
}
.btn.btn-primary {
    color: white;
    font-family: 'Staatliches', cursive;;
    background-color: black;
    float: right;
}
#sauce {
    margin-top: .5em;
}
#meats {
    color: firebrick;
}
.fa-cart-shopping {
    color: white;
    padding: .3em;
}
.btn.btn-primary:hover {
    background-color: firebrick;
}
.fa-cart-shopping:hover {
    color: white;
}
.btn-primary {
    --bs-btn-border-color: white;
}